# OS files
.DS_Store
Thumbs.db
*.swp

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node.js
node_modules/
.svelte-kit/
build/
dist/
package/
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Rust / Tauri
target/
app/src-tauri/gen/schemas/
Cargo.lock.tmp

# ffmpeg binaries
/ffmpeg/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Documentation
doc.md


压缩.py
/test