# OS files
.DS_Store
Thumbs.db
*.swp

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node.js
node_modules/
.svelte-kit/
build/
package/
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Rust / Tauri
target/
app/src-tauri/gen/schemas/
Cargo.lock.tmp

# Build outputs
dist/
*.exe
*.msi
*.dmg
*.deb
*.rpm
*.AppImage

# FFmpeg
/ffmpeg/bin/*.exe
/ffmpeg/bin/*.dll
/ffmpeg/bin/*.lib
/ffmpeg/bin/*.zip

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Documentation
/doc


压缩.py
get_vmaf_score.py
/test